@{
    ViewBag.Title = "OZMEICAN";
}

@section css {
    <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">*@
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">*@
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
}

<header style="height: 46px; width: 100%; border: 1px solid red">
    <div id="login" style="width: 1024px; height: 100%; margin: 0px auto; border: 1px solid green">
        <button class="pull-right" type="button" class="btn btn-lg" aria-label="Left Align">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        </button>
        <button class="pull-right" type="button" class="btn btn-lg" aria-label="Left Align">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        </button>
    </div>
</header>

<div id="content" style="width: 1024px; height: 768px; margin: 0px auto; border: 1px solid blue;">
    <div id="level0" style="height: 100%">
        <div class="leftPane pull-left" style="position: relative; width: 50%; height: 100%; border: 1px solid red">
            <div class="label pull-left" style="position: absolute; top: 100px; left: 0px; width: 25px; height: 100px; border-bottom: 1px solid red; border-top: 1px solid red; border-left: 1px solid red">
            </div>
            <div class="leftCover" style="margin-left: 25px; height: 100%; border: 1px solid red">
                <div class="leftPage" style="margin: 5px 0px 5px 20px; border: 1px solid #808080">
                    <div class="leftContent">
                        <div class="hearder" style="height: 80px; border: 1px solid blue">
                            <div class="dropdown" style="width: 30%; margin: 0 auto;">
                                <button style="width: 100%" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    办公室<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">办公室</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">家</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">其它</a></li>
                                </ul>
                            </div>

                            <div style="width: 30%; margin: 0 auto">
                                <button id="btnLocateConfirm" class="btn btn-sm pull-left" style="margin: 5px 0px 0px 10px">确定</button>
                                <button id="btnLocateCancel" class="btn btn-sm pull-right" style="margin: 5px 10px 0px 0px">取消</button>
                            </div>
                        </div>
                        <div class="cityNav" style="height: 40px; border: 1px solid red">
                        </div>
                        <div class="cities" style="border: 1px solid black">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightPane pull-right" style="width: 50%; height: 100%; border: 1px solid blue; position: relative">
            <div class="rightCover" style="margin-right: 25px; height: 100%; border: 1px solid red">
                <div class="rightPage" style="margin: 5px 20px 5px 0px; border: 1px solid #808080">
                    <div class="rightContent">
                        <button class="btn btn-lg pull-right changePage">翻页</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="level1" style="height: 100%; display: none"> 
        <div class="leftPane pull-left" style="position: relative; width: 50%; height: 100%; border: 1px solid red">
            <div class="label pull-left" style="position: absolute; top: 100px; left: 0px; width: 25px; height: 100px; border-bottom: 1px solid red; border-top: 1px solid red; border-left: 1px solid red">
            </div>
            <div class="leftCover" style="margin-left: 25px; height: 100%; border: 1px solid red">
                <div class="leftPage" style="margin: 5px 0px 5px 20px; border: 1px solid #808080">
                    <div class="leftContent">
                        <button class="btn btn-lg pull-left changePage">翻页</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightPane pull-left" style="width: 50%; height: 100%; border: 1px solid blue">

        </div>
    </div>
</div>

@section scripts {
    <!-- Latest compiled and minified JavaScript -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>*@
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/CityNav/CityNav.js"></script>

    <script type="text/javascript">
        var nv = new CityNav(dataCallback);
        $(function(){
            var h_l = $('.leftCover').height();
            $('.leftPage').css("height", (h_l - 10) + "px");

            var h_r = $('.rightCover').height();
            $('.rightPage').css("height", (h_r - 10) + "px");

            var city_p_h = $('.leftPage').height();
            $('.cities').css("height", (city_p_h - 40 - 80) + "px");

            $('.changePage').click(function () {
                var bHidden = $('#level0').css("display") == "none"
                if (bHidden) {
                    $('#level1').hide();
                    $('#level0').show();
                } else {
                    $('#level0').hide();
                    $('#level1').show();
                }
            });
        });

        function dataCallback() {
            alert(nv.getProvencesCount());
            alert(nv.getCitiesCountByProvence("provence7"));
            alert(nv.getDistrectCountByProAndCity("provence7", "city8"));

            alert(nv.getProvencesArray());
            alert(nv.getCitiesArrayByProvence("provence5"));
            alert(nv.getDistrectArrayByProAndCity("provence3", "city4"));
        }
    </script>
}